<IfModule mod_rewrite.c>
  RewriteEngine On

  # Kalau file/folder ada, jangan rewrite
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Semua route SPA arahkan ke index.html
  RewriteRule ^ index.html [L]
</IfModule>
